.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content .title h1{
    color: #0e1a1f;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 5px gray;
    color: #4d4d4d;
}
.my-pros label{
display: block;
font-size: 23px;
font-weight: 700;
text-transform: capitalize;
color: #4d4d4d;

}
.my-pros{
    margin-top: 50px;
    
}
.my-pros button{
    margin: 30px;
    padding: 10px 50px;
    font-size: 30px;
    border: none;
    background-color: #0e1a1f;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px black;
    font-weight: 700;
    color: #c9ccd4;
    transition: 0.2s;

}
.my-pros button::after{
    content: "";
}
.my-pros button:active{
    transform: scale(0.8);
    
}
.dis{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #4d4d4d;
}
.dis p span{
    color: black;
    text-transform: uppercase;
    position: relative;
}
.dis p span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 100%;
    background-color: black;
}
