.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content .title h1{
    color: #0e1a1f;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 5px gray;
}
.my-pros label{
display: block;
font-size: 23px;
font-weight: 700;
text-transform: capitalize;
color: #a3a39b;
text-shadow: 0 0 20px black;
}
.my-pros{
    margin-top: 50px;
    
}
.my-pros button{
    margin: 30px;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    background-color: #82401d;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px black;
    font-weight: 700;
    color: #e6cab3;
    transition: 0.2s;
}
.my-pros button:active{
    transform: scale(0.8);
    
}
.dis{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.dis p span{
    color: #a3a39b;
    text-transform: uppercase;
    position: relative;
}
.dis p span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 100%;
    background-color: #a3a39b;
}
.warning{
    background-color: rgba(255, 0, 0, 0.26);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;  
    animation-name: warning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: initial;
}
.warning p a{
    color: rgb(90, 0, 0);
}